.footer {
  &__container {
    padding: 3rem 0 7rem;
    text-align: center;
    @media screen and (min-width: 1200px) {
      padding: 4rem 0 3rem;
    }
  }

  &__title {
    font-size: var(--h1-font-size);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__list,
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    margin: 2.5rem 0;
    column-gap: 2.5rem;
    @media screen and (min-width: 1200px) {
      column-gap: 3rem;
      margin: 3rem 0;
    }
  }

  &__link {
    color: var(--title-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__socials {
    column-gap: 1.25rem;
    @media screen and (min-width: 1200px) {
      column-gap: 2rem;
    }
  }

  &__socials-item {
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-0.15rem);
      .footer__socials-link {
      }
    }
  }

  &__socials-link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color var(--transition);
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
    &:hover {
      color: var(--title-color);
    }
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    @media screen and (min-width: 1200px) {
      margin-top: 5rem;
    }
  }

  &__copy-img {
    margin: 0 0.5rem;
  }
}
